body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center; 
}

header {
    background: #3b5998; 
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Селектор класса */
.main-content {
    padding: 20px;
}

/* Селектор идентификатора */
#footer {
    text-align: center;
    padding: 10px 0;
}

/* Селектор по тегу */
h2 {
    color: #333;
}

/* Селектор атрибута */
img[alt] {
    max-width: 100%;
    height: auto;
}

/* Селектор потомка */
section p {
    margin: 10px 0;
}

/* Селектор группы */
h1, h2 {
    font-weight: normal;
}

/* Селектор псевдокласса */
nav ul li a:hover {
    text-decoration: underline;
}

/* Селектор дочернего элемента */
ul > li {
    margin-bottom: 10px;
}

ul, ol {
    list-style-position: inside; 
    padding: 0; 
    text-align: center;
}

/* Уникальные стили для главной страницы */
body {
    background-color: #e0f7fa;
}

header {
    background: #00796b;
}

/* Уникальные стили для страницы институтов */
.institutes-page {
    background-color: #fff3e0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffcc80;
}

/* Уникальные стили для страницы контактов */
.contacts-page {
    background-color: #e1bee7;
}

h2 {
    color: #0004ff;
}

footer {
    margin-top: 20px;
}

a {
    color: #00796b;
}

a:hover {
    color: #d40f081f;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #d40f081f;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}